@media only screen and (max-width: 768px) {

    body {
        background-color: pink !important;
    }

}

body {
    background-color: #a3d2e1;
    font-family: 'Shadows Into Light', cursive;
}



.hide {
    display: none !important;
}

.GTW {
    font-size: 48px;
    text-align: center;
}

.guessSct {
    display: flex;
    justify-content: center;
    font-size: 4em;
    height: 24vh;
    align-items: CENTER;
    color: lightpink;
}

.heartWRP {
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.wordSct {
    width: 70vw;
    background-color: #f5d9d9;
    margin: 0 auto;
    border-radius: 1em;
    padding: 1.5em 0em ;
    font-size: 1.8em;
    font-weight: 700;
    outline: 2px solid black;
    border: 8px solid black;
}

.letterWRP {
    padding: 0.5em;
    border: 8px solid lightpink;
    border-radius: 5px;
    margin: 0 1em;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: pink;
    outline: 2px solid black;
}

.alphaRow {
    margin: 0.5em 0em;
    display: flex;
    justify-content: center;
}

.winner {
    position: absolute;
    z-index: 5;
    border: 3px double black;
    background-color: pink;
    padding: 2em;
    border-radius: 1em;
    right: 0;
    transform: translate(-60px, 20px);
    font-weight: 700;
    color: #ff456e;
}

.neonText {
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #fff,
      0 0 82px #fff,
      0 0 92px #fff,
      0 0 102px #fff,
      0 0 151px #fff;

  }

@keyframes slide {
    0% {
        transform: translate(500px, 0px);
      }
    100% {
        transform: translate(-60px, 20px);
      }
}

.slide {
   animation-name: slide;
   animation-duration: 1s;
   animation-fill-mode: forwards;
}